body{
padding:0;
margin:0;
}
header{
position:fixed;
background-color:white;
width:100%;
z-index:1;
}
.header{	
height:50px;
}
.ul1{
float:right;
margin-right:10px;

}
.head1{
display:inline-block;
list-style-type:none;
margin-left:10px;

}
#span1{
margin-left:50px;
margin-top:15px;
position:absolute;
}
img{
width:100%;

}
.insidehead{
position:absolute;
margin-left:40%;
margin-top:25%;

}
#a{
font-size:32px;
color:white;
letter-spacing:4px;

}
.br{
width:90px;
height:70px;
background-color:black;
opacity:0.7;
text-align:center;
display:inline-block;
}
.span3{
display:inline-block;
margin-top:70px;
margin-left:30px;
font-size:20px;
}
.pro1{
display:inline-block;
width:280px;
height:auto;
margin:10px;
}
.project{
height:500px;
}
.ul1 a{
width:50px;
height:auto;
padding:10px;
color:black;
}
.ul1 a:hover{
background-color:#ccc;
}
.ul1 a .head1{
padding-right:10px;
letter-spacing:2px;
}
.class1{
height:auto;
padding:10px;
margin-left:10px;
margin-top:10px;
width:140px;
color:white;
background-color:black;
position:absolute;
display:inline-block;
}

/* about*/
.about{
margin:30px;
}
.divabout{
display:inline-block;
margin:5px;
width:290px;
height:420px;
}
.but1{
width:290px;
height:40px;
background-color:#ccc;
border:none;
font-size:18px;
letter-spacing:1px;
}
.but1:hover{
background-color:gray;
}
.persons{
width:290px;
height:auto;
filter: grayscale(75%);;
}



/*  Contact  */
.contact{
margin-left:30px;
margin-right:30px;
}
.inputcon{
width:100%;
border:1px solid lightgray;
font-size:15px;
padding:10px;
}


.sendmsg{
background-color:black;
margin-top:30px;
color:white;
width:150px;
height:auto;
padding:10px;
border:none;
}


/*footer*/
.footer{
padding:30px;
background-color:black;
color:white;
margin-top:8px;
}
